*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

h1{
    background-color: rgb(4, 4, 65);
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 175px;
    width: 175px;
}

.choice:hover{
    opacity: 50%;
    border: 3px solid black;
    border-radius: 50%;
    cursor: pointer;
}

img{
    height: 175px;
    width: 175px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 3rem;
}


#user-score, #comp-score{
    font-size: 5rem;
}

#mess{
   background-color: rgb(4, 4, 65);
   color: white;
   font-size: 2rem;
   margin-top: 5rem;
   display: inline;
   padding: 1rem;
   border-radius: 1rem;
}

.mess-container{
    margin-top: 3rem;
}

